{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static "css/datepicker.css" %}">
{% endblock css %}

{% block scripts %}
  <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
  <script>
   $(document).ready(function(){
     $(".datepicker").datepicker();
   });
  </script>
{% endblock scripts %}

{% block title %}Game Preview{% endblock title %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    Game Date: {{ form.game_date }}
    Team: {{ form.school1 }}
    Opponent: {{ form.school2 }}
    <br>
    Team Spread: {{ form.spread }}
    Total: {{ form.total }}
    <input type="submit">
  </form>

  {% if models %}
    <h1>Predictions</h1>
    <table border="1">
      <thead>
        <th>Model</th>
        <th>{{team1.school.name}}</th>
        <th>{{team2.school.name}}</th>
        <th>Spread</th>
        <th>Total</th>
      </thead>
      <tbody>
        {% for model in models %}
          <tr>
            <td>{{model.name}}</td>
            <td>{{model.team_score}}</td>
            <td>{{model.opponent_score}}</td>
            <td>{{model.spread}}</td>
            <td>{{model.total}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock content %}
